<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <link rel="stylesheet" href="/Leaflet.markercluster-1.4.1/dist/MarkerCluster.css"/>
  <link rel="stylesheet" href="/Leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css"/>

  <script src="/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster-src.js"></script>
  <script src="/Leaflet.markercluster-1.4.1/src/MarkerCluster.js"></script>

  <script src="/assets/locations.js"></script>

  <!-- Splide CSS -->
  <link rel="stylesheet" href="/assets/css/splide.min.css" />

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/style-phd.css" />


  <style>
    .leaflet-container {
      height: 400px;
      width: 1200px;
      max-width: 100%;
      max-height: 100%;
    }
  </style>

  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
    {% include scripts/splide.html %}


  </body>
</html>
